:root {
    --main-color: rgb(13, 92, 119);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:target {
    padding-top: 70px;
    margin-top: -70px;
}

header {
    height: 50dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    > h1 {
        font-size: 2.5rem;
    }
    > h2 {
        font-size: 2rem;
    }
}

header nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color, rgb(13, 92, 119));
    padding: 1rem 0;
    overflow: hidden;
    > ul {
        list-style-type: none;
        float: right;
        > li {
            display: inline;
            > a {
                text-decoration: none;
                color: white;
                padding: 10px 10px;
                margin-left: 5px;
                font-size: 1rem;
                transition: color 0.3s ease;
            }
            > a:hover {
                background-color: rgb(142, 196, 187);
                transition: background-color 0.3s ease;
            }
        }
    }
}

.authors {
    margin: 1rem 0;
    font-size: 1rem;
    > p {
        margin-bottom: 0.5rem;
        > a {
            text-decoration: none;
            color: var(--main-color, rgb(13, 92, 119));
        }
    }
}

/* .institutions {
    font-size: 1rem;
    > p {
        > a {
            text-decoration: none;
            color: rgb(9, 64, 82);
        }
    }
} */

.links {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.resource-links {
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #dfdfdf;
    border-radius: 0.5rem;
    color: #000000;
    cursor: pointer;
    font-size: 1rem;
    max-width: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 1rem;
}

.resource-links:active,
.resource-links:hover {
    outline: 0;
}

.resource-links:hover {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.19);
}

hr {
    border: 1.5px solid lightgray;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 2rem;
}

main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main section {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    > p {
        margin: 0.5rem 0;
    }
    > img {
        width: 60%;
        align-self: center; 
    }
    > h3 {
        font-family: "Tilt Warp", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 1.5rem;
        font-style: normal;
        color: rgb(26, 89, 110);
    }
}

.method {
    margin: 2rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    > h4 {
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: rgb(26, 89, 110);
    }
    > h4::after {
        content: "";
        display: block;
        width: 60%;
        height: 2px;
        background-color: rgb(17, 142, 164);
        margin: 2px 0;
    }
    > img {
        width: 80%;
        align-self: center; 
        margin: 1rem 0;
    }
}

.metrics {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
}

.metrics th, .metrics td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.metrics th {
    background-color: #f2f2f2;
}

.formulas {
    color: rgb(26, 89, 110);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    mfrac{
        margin-left: 0.2rem;
    }
    mrow {
        margin: 0.2rem 0
    }
    mi, mo, mn {
        font-size: 0.8rem;
    }
}

.model-performance > h4 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

.model-result {
    display: flex;
    flex-direction: column;
    h4 {
        text-align: left;
    }
    h4::after {
        content: "";
        display: block;
        width: 95%;
        height: 2px;
        background-color: rgb(17, 142, 164);
        margin: 2px 0;
    }
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        max-width: 50%;
    }
    
}

.result-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 14px;
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
}
.result-container td:first-child {
    text-align: right;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.model-detail {
    margin: 0.3rem 0;
    border-radius: 10px;
    max-width: 500px;
    > summary  {
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        display: inline-block;
        background-color: rgb(44, 131, 160);
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        color: white;
        &::before {
            content: "\25B6";
            width: 0.5rem;
            height: 0.5rem;
            color: white;
            margin-right: 0.2rem;
        }
    }
    > p {
        padding: 10px;
        background-color: #e4eaef;
        border-radius: 0 5px 5px 5px;
        margin-top: 0;
        font-size: 0.9rem;
        a {
            text-decoration: none;
            color: rgb(35, 103, 125);
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &[open] summary {
        border-radius: 5px 5px 0 0;
        &::before {
            content: "\25BC";
            width: 0.5rem;
            height: 0.5rem;
            color: white;
            margin-right: 0.2rem;
        }
    }
    &[open] p {
        display: block;
    }
}

#top-btn {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    background-color: rgba(240, 240, 240, 0.815);
    border: 1px solid #dfdfdf;
    border-radius: 1rem;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#top-btn:hover {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.19);
    outline: 0;
}

footer {
    display: flex;
    background-color: var(--main-color, rgb(13, 92, 119));
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    > p {
        margin: 0.5rem 0;
        > a {
            color: white;
        }
    }
}

.contact {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.contact-links {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    > a {
        text-decoration: none;
        color: white;
    }
}

.contact-links a:hover,
.authors p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    main section img {
        width: 100%;
        align-self: center; 
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .resource-links {
        margin: 0.1rem 0;
    }

    .model-performance > h4 {
        text-align: center;
        font-size: 1.3rem;
    }

    .model-result {
        h4 {
            font-size: 0.8rem;
        }
    }

    .result-container {
        display: flex;
        flex-direction: column;
    }

    .result-container img {
        max-width: 100%;
    }

    .result-container table {
        /* max-width: 80%;
        border-collapse: collapse;
        margin-top: 5px;
        font-size: 12px;
         */
        font-size: 12px;
        th, td {
            padding: 3px;
        }
    }

    .metrics {
        /* margin-left: 1rem; */
        font-size: 0.8rem;
    }

    .formulas {
        
        margin-right: 0;
        mfrac{
            margin-left: 0.2rem;
        }
        mrow {
            margin: 0.2rem 0
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        height: auto;
        padding: 2rem 0;
    }

    header {
        font-size: smaller;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
        > h1 {
            font-size: 2rem;
        }
        > h2 {
            font-size: 1.5rem;
        }
    }

    header nav {
        display: none;
    }

    p {
        font-size: 0.9rem;
    }

    main {
        padding: 0 2rem;
    }

    main section img {
        width: 70%;
        align-self: center; 
    }
    
    .model-performance > h4 {
        text-align: center;
        font-size: 1.5rem;
    }

    .result-container {
        display: flex;
        flex-direction: column;
        img {
            max-width: 80%;
        }
    }

    .result-container table {
        max-width: 80%;
        border-collapse: collapse;
        margin-top: 2rem;
        font-size: 12px;
        th, td {
            padding: 4px;
        }
    }

    .footer-container {
        margin: 0 1rem;
    }

    .contact {
        flex-direction: column;
    }

    .contact-links {
        padding-bottom: 1rem;
        margin-right: 0;
    }

    #top-btn {
        visibility: hidden;
    }

    #top-btn::after {
        content: "Top\2191";
        visibility: visible;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        padding: 0.5rem;
        color: black;
        text-decoration: none;
        background-color: rgba(240, 240, 240, 0.815);
        border: 1px solid #dfdfdf;
        border-radius: 0.5rem;
    }
}
